{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}" type="text/css">
{% endblock %}

{% block content %}
</head>
    <body>
        <nav class="container">
            <ul class="main-menu">
                <li><a href="#"></a>MOBILE PHONES</li>
                <li><a href="#"></a>TV</li>
                <li><a href="#"></a>LAPTOPS</li>
                <li><a href="#"></a>GAMING CONSOLE</li>
                <li><a href="#"></a>TV</li>
                <li><a href="#"></a>DESKTOP</li>
            </ul>
        </nav>
            <article class="article">
                <div class="container">
                    <div class="devices">
                        <a href="#">
                            <a href="#">
                                <img src="#" alt="redmi_777">
                                <h3>Redmi 11 Note Plus</h3>
                            </a>
                            <p>10 000$</p>
                            <button>Add in Barset</button>
                    </div>
                    <div class="devices">
                        <img src="#" alt="#">
                        <h3>Telephone</h3>
                        <p>Price</p>
                        <button>in carset</button>
                    </div>
                    <div class="devices">
                        <img src="#" alt="#">
                        <h3>Telephone</h3>
                        <p>Price</p>
                        <button>in basket</button>
                    </div>
                    <div class="devices">
                        <img src="#" alt="redmi_777">
                        <h3>Redmi 11 Note Plus</h3>
                        <p>10 000$</p>
                        <button>Add in Barset</button>
                    </div>
                    
             </div>

            </article>

            <footer class="footer">
                <h6>
                    Thanks for everything
                </h6>
            </footer>
{% endblock %}
                                                                                             
                                                                                                                                                           