{% extends 'webstore/base.html' %}
{% load static %}
{% load webstore_tags %}



{% block content %}
</head>
    <body>
        <nav class="nav_menu">
            <ul class="main-menu" >
                <li><a href="{% url 'home_page' %}">All Category</a></li>

                {% get_categories as categories %}
                {% for cat in categories %}
                <li><a href="{{cat.get_absolute_url }}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
            <article class="article">
                <div class="body">
                    
                    {% for a in announcement %}
                    <div class="devices">
                        <a href="{{ a.get_absolute_url }}">
                            <div class="cards_image">
                                <img src="{{ a.img_full.url }}" alt="{{a.title}}">
                            </div>
                            
                            <h3>{{a.title}}</h3>    
                            <p>{{a.price}} ₴</p>
                        </a>
                        <form action="{% url 'cart:add' a.id %}" method="POST">{% csrf_token %}
                            <input type="hidden" name="url_from" value="{{request.path}}">
                            <button type="submit">Add to cart</button>
                        </form>
                    </div>   
                    {% endfor %}


             </div>
            </article>

         
{% endblock %}
                                                                                             
                                                                                                                                                           