{% extends 'webstore/base.html' %}
{% load static %}


    {% block head %}

    {% endblock %}


{% block content %}
</head>
    <body>
        <nav class="nav_menu">
            <ul class="main-menu" >
                <li><a href="{% url 'home_page' %}">All Category</a></li>
                {% for cat in categories %}
                <li><a href="{{cat.get_url}}">{{cat.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
            <article class="article">
                <div class="body">
                    
                    {% for a in announcement %}
    
                    <div class="devices">
                        <a href="{{ a.get_url }}">
                            <div class="cards_image">
                                <img src="{{ a.img_full.url }}" alt="{{a.title}}">
                            </div>
                            
                            <h3>{{a.title}}</h3>    
                            <p>{{a.price}} ₴</p>
                        </a>
                        <button>Add in Barset</button>
                    </div>   
                    {% endfor %}


             </div>
            </article>

         
{% endblock %}
                                                                                             
                                                                                                                                                           