{% extends 'webstore/base.html' %}
{% load static %}


    {% block head %}
    <link rel="stylesheet" href="{% static 'webstore/css/store_style.css' %}", type="text/css">
    {% endblock %}


{% block content %}
</head>
    <body>
        <nav class="nav_menu">
            <ul class="main-menu" >
                <li><a href="#"></a>MOBILE PHONES</li>
                <li><a href="#"></a>TV</li>
                <li><a href="#"></a>LAPTOPS</li>
                <li><a href="#"></a>GAMING CONSOLE</li>
                <li><a href="#"></a>TV</li>
                <li><a href="#"></a>DESKTOP</li>
            </ul>
        </nav>
            <article class="article">
                <div class="body">
                    
                    {% for a in announcement %}
    
                    <div class="devices">
                        <a href="#">
                            <div class="cards_image">
                                <img src="{{ a.img_full.url }}" alt="{{a.title}}">
                            </div>
                            <h3>{{a.title}}</h3>
                            <p>{{a.price}} ₴</p>
                        </a>
                        <button>Add in Barset</button>
                    </div>   
                    {% endfor %}


             </div>
            </article>

         
{% endblock %}
                                                                                             
                                                                                                                                                           