{% extends 'webstore/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'webstore/css/style_post.css' %}", type="text/css">
{% endblock %}


{% block content %}
    <div class="post_body">
        <div class="img_container">
            {% if announcement.img_full %}
            <img src="{{ announcement.img_full.url }}" alt="#">
            {% endif %}
        </div>
        <h2>
            {{announcement.title}}
        </h2>
        <div class="content_container">
            <div class="text_container">
            {{announcement.description}}
            </div>
            <p>{{announcement.price}} ₴</p>
            <button>Add in Barset</button>
        </div>
    </div>

{% endblock %}

