{% extends 'webstore/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'webstore/css/style_reg.css' %}", type="text/css">
{% endblock %}

{% block content %}
        <div class="reg_container">
            <div class="reg_box">

                <form class="form" method="POST">
                    <h2>Sign Up</h2>
                        {% csrf_token %}

                        {% for a in form %}
                        <div class="input_Box">
                            <label>{{a.label}}:</label>
                            {{a}}
        
                        </div>      
                        {% endfor %}

                    
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
{% endblock %}